<%- include('../layout/admin/header.ejs')%>
  <%- include('../layout/admin/navbar.ejs')%>
    <%- include('../layout/admin/sidebar.ejs')%>

      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Add Coupons</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Add Coupons</li>
            </ol>
          </nav>
        </div>

        <form class="needs-validation" method="post" action="/admin/addCoupons">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationCustom01" style="color:black;"> Coupon Code </label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="" value="" name="code"
                required>

            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom02" style="color:black;"> Expire Date </label>
              <input type="date" class="form-control" id="validationCustom02" placeholder="" value="" name="expireDate"
                required>

            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom02" style="color:black;"> Maximum Discount </label>
              <input type="number" class="form-control" id="validationCustom02" placeholder="enter number" value=""
                name="maxDiscount" required>

            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom02" style="color:black;">Minimum Purchase Amount</label>
              <input type="number" class="form-control" id="validationCustom02" placeholder="enter number" value=""
                name="minimumPurchase" required>

            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom02" style="color:black;">Offer %</label>
              <input type="number" class="form-control" id="validationCustom02" placeholder="In percentage" value=""
                name="off" required>

            </div>

          </div>
          <button class="btn btn-warning" type="submit"> Submit </button>
          <div>
            <% if(typeof message!=="undefined" ){%>
              <h1 style="font-size:16px;color:rgb(184, 27, 22);">
                <%=message %>
              </h1>
              <%}%>
          </div>
        </form>
      </main>

      <script>
        (function () {
          'use strict';
          window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
              form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>



      <%- include('../layout/admin/footer.ejs')%>