<%- include('../layout/admin/header.ejs')%>
  <%- include('../layout/admin/navbar.ejs')%>
    <%- include('../layout/admin/sidebar.ejs')%>




      <!-- ======= Header ======= -->


      <!-- ======= Sidebar ======= -->


      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Dashboard</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <div>
          <% if(typeof message!=="undefined" ){%>
            <h1 style="font-size:16px;color:rgb(227, 13, 13);">
              <%=message %>
            </h1>
            <%}%>
        </div>




        <section class="section dashboard">

          <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
              <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">

                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today : <%= counttoday %></a></li>
                        <li><a class="dropdown-item" href="#">This Month : <%= countweekly %></a></li>
                        <li><a class="dropdown-item" href="#">This Year : <%= countyear %></a></li>
                      </ul>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title">Sales</h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= sales %>
                          </h6>

                        </div>
                      </div>
                    </div>

                  </div>
                </div><!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">

                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today : <%= today %></a></li>
                        <li><a class="dropdown-item" href="#">This week : <%= weekly %></a></li>
                        <li><a class="dropdown-item" href="#">This Year : <%= yearRevenue %></a></li>
                      </ul>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title"> Revenue </h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi ">₹</i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= revenue %>
                          </h6>

                        </div>
                      </div>
                    </div>

                  </div>
                </div><!-- End Revenue Card -->

                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                  <div class="card info-card customers-card">

                    <div class="card-body">
                      <h5 class="card-title">Customers</h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                          <h6>
                            <%= usercount %>
                          </h6>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Customers Card -->
          </div>

          <div class="col-lg-12">
            <div class="row">

              <!-- End Reports -->

              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Order Method</h5>

                    <!-- Pie Chart -->
                    <canvas id="pieChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#pieChart'), {
                          type: 'pie',
                          data: {
                            labels: [
                              'COD',
                              'ONLINE PAYMENT',
                              'WALLET'
                            ],
                            datasets: [{
                              label: 'total',
                              data: ["<%= cod %>", "<%= online %>", "<%= wallet %>"],
                              backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 205, 86)'
                              ],
                              hoverOffset: 4
                            }]
                          }
                        });
                      });
                    </script>
                    <!-- End Pie CHart -->

                  </div>
                </div>
              </div>



              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Order status</h5>

                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px;"></canvas>
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#barChart'), {
                          type: 'bar',
                          data: {
                            labels: ['Pending', 'Confirmed', 'Shipped', 'Cancelled', 'Delivered', 'Returned'],
                            datasets: [{
                              label: 'count',
                              data: ["<%= Pending %>", "<%= Confirmed %>", "<%= Shipped %>", "<%= Cancelled %>", "<%= Delivered %>", "<%= Returned %>"],
                              backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                // 'rgba(201, 203, 207, 0.2)'
                              ],
                              borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                // 'rgb(201, 203, 207)'
                              ],
                              borderWidth: 1
                            }]
                          },
                          options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            }
                          }
                        });
                      });
                    </script>
                    <!-- End Bar CHart -->

                  </div>
                </div>
              </div>


            </div>
          </div>

          <!-- Recent Sales -->
          <div class="col-12 ">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Recent Sales </h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Product</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total price</th>
                      <th scope="col">Price</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Total</th>
                      <th scope="col">Method</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% recentorder.forEach((element,index)=>{ %>


                      <tr>
                        <th scope="row"><a href="#">
                            <%= index+1 %>
                          </a></th>
                        <td>
                          <%= element.userId.username %>
                        </td>
                        <td>
                          <% element.product.forEach((x,index)=>{ %>
                            <%= x.productId.productname %>
                              <br>
                              <% }) %>
                        </td>
                        <td>
                          <% element.product.forEach((x,index)=>{ %>

                            <%=x.quantity%>
                              <br>
                              <% }) %>
                        </td>
                        <td>
                          <% element.product.forEach((x,index)=>{ %>
                            <%= x.productId.price %>
                              <br>
                              <% }) %>
                        </td>
                        <td><span>
                            <%= element.totalprice %>
                          </span></td>
                        <td><span>
                            <%= element.discount %>
                          </span></td>
                        <td><span>
                            <%= element.total%>
                          </span></td>
                        <td><span>
                            <%= element.paymentType %>
                          </span></td>
                        <td>
                          <% if(element.status=="Cancelled" || element.status=="Returned" ){ %>
                            <span style="color: rgb(233, 18, 18);">
                              <%= element.status %>
                            </span>
                            <% } else if(element.status=="Return requested" ){ %>
                              <span style="color: rgb(172, 172, 31);">
                                <%= element.status %>
                              </span>
                              <% }else{ %>
                                <span style="color: rgb(54, 235, 8);">
                                  <%= element.status %>
                                </span>
                                <% } %>
                        </td>
                      </tr>

                      <% }) %>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->
        </section>
      </main><!-- End #main -->

      <%- include('../layout/admin/footer.ejs')%>