<%- include('../layout/admin/header.ejs')%>
  <%- include('../layout/admin/navbar.ejs')%>
    <%- include('../layout/admin/sidebar.ejs')%>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

      <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

      <div class=" mt-5">
        <br>
        <table id="reload" class="table table-borderless main1 bg-black  table-striped ">
          <thead>
            <tr>
              <th scope="col" style="text-align: center; color:white;">No</th>
              <th scope="col" style="text-align: center; color:white;">Order Id</th>
              <th scope="col" style="text-align: center; color:white;">User</th>
              <th scope="col" style="text-align: center; color:white;">product Name</th>
              <th scope="col" style="text-align: center; color:white;">Price</th>
              <th scope="col" style="text-align: center; color:white;">quantity</th>
              <th scope="col" style="text-align: center; color:white;">Total Price</th>
              <th scope="col" style="text-align: center; color:white;">Discount</th>
              <th scope="col" style="text-align: center; color:white;">TOTAL</th>
              <th scope="col" style="text-align: center; color:white;">Payment Method</th>
              <th scope="col" style="text-align: center; color:white;">Delivery Address</th>
              <th scope="col" style="text-align: center; color:white;">Date</th>
              <th scope="col" style="text-align: center; color:white;">status</th>
            </tr>
          </thead>

          <tbody class="table-success ">


            <% order.forEach((element,index)=> { %>

              <tr class="rounded bg-white" style="height: 90px;">

                <td class="" style="text-align: center; padding-top:2%;">
                  <%= index+1 %>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <%= element._id %>
                </td>
                <td style="text-align: center; padding-top:2%;">


                  <%=element.userId.username %>
                    <br>

                </td>
                <td style="text-align: center; padding-top:2%;">
                  <% element.product.forEach((x,index)=>{ %>

                    <%=x.productId.productname %>
                      <br>
                      <% }) %>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <% element.product.forEach((x,index)=>{ %>

                    <%=x.productId.price %>
                      <br>
                      <% }) %>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <% element.product.forEach((x,index)=>{ %>

                    <%=x.quantity%>
                      <br>
                      <% }) %>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <%= element.totalprice%>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <%= element.discount%>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <%= element.total%>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <%= element.paymentType%>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <%= element.deliveryAddress%>
                </td>
                <td style="text-align: center; padding-top:2%;">
                  <%= element.date.toLocaleString({ year: '2-digit' , month: '2-digit' ,day: '2-digit' }) %>
                </td>

                <td style="color: blue; padding-top:2%;">

                  <% if (element.status==="Cancelled" || element.status==="Delivered" || element.status==="Returned" ) {
                    %>
                    <%= element.status %>
                      <% } else { %>
                        <form action="/admin/orders" method="post">
                          <input type="hidden" name="orderId" value="<%= element.orderId %>">
                          <select style="background-color: black; color: white;" name="status"
                            onchange="this.form.submit()" <% if (element.status==="Cancelled" ||
                            element.status==="Delivered" || element.status==="Returned" ) { %>disabled<% } %>>
                              <% if (element.status==="Delivered" ) { %>
                                <option value="Delivered" selected>Delivered</option>

                                <%} else if(element.status==="Returned" ) { %>
                                  <option value="Returned" selected>Returned</option>

                                  <%} else if(element.status==="Return requested" ) { %>
                                    <option value="<%= element.status %>" selected>
                                      <%= element.status %>
                                    </option>
                                    <option value="Returned">Accept Return</option>

                                    <%} else if(element.status==="Shipped" ) { %>
                                      <option value="Shipped" selected>Shipped</option>
                                      <option value="Delivered">Delivered</option>
                                      <% } else if (element.status==="Confirmed" ) { %>
                                        <option value="Confirmed" selected>Confirmed</option>
                                        <option value="Shipped">Shipped</option>
                                        <option value="Delivered">Delivered</option>
                                        <% } else { %>
                                          <option value="Pending" selected>Pending</option>
                                          <option value="Confirmed">Confirmed</option>
                                          <option value="Shipped">Shipped</option>
                                          <option value="Delivered">Delivered</option>
                                          <% } %>
                          </select>
                        </form>
                        <% } %>
                </td>

              </tr>
              <% }); %>
          </tbody>
        </table>

      </div>

      <script>
        $(document).ready(function () {
          $('#reload').DataTable();
        });
      </script>
      <%- include('../layout/admin/footer.ejs')%>