<%- include('../layout/user/userheader.ejs')%>

    <!-- Start Top Nav -->
    <!-- <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav> -->
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow ">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                gaDget
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/allproducts">Shop</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/contact.html">Contact</a>
                        </li> -->
                    </ul>
                </div>

                <div class="dropdown me-4">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% categories.forEach((x,index)=> { %>
                            <% if(x && x.unlist==false) {%>
                            <a class="dropdown-item" href="/filter/<%= x._id%>">
                                <%= x.category %>
                            </a>
                            <!-- <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a> -->
                  <% } %>
                            <% }) %>
                    </div>
                </div>

                <!-- <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a> -->

                <div class="input-group rounded  me-4" style="width: 150px;">
                    <form action="/search" method="post">
                    <input type="text"  style="display: inline;" class="form-control rounded " placeholder="Search" aria-label="Search"  name="searched" aria-describedby="search-addon" />
                    <button class="input-group-text border-0 float-right" style="display: inline;"  id="search-addon" name="searched">
                      <i class="fas fa-search"></i>
                    </button>
                </form>
                  </div>

                <% if(typeof userData !=='undefined' ){ %>
                    <div class="d-flex">

                        <a class="nav-icon position-relative text-decoration-none mr-3" href="/viewcart">
                            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                            <!-- <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">!</span> -->
                        </a>
                        <a class="nav-icon position-relative text-decoration-none" href="/viewprofile">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            <!-- <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+</span> -->
                        </a>
                        <div class="d-flex justify-content-between align-items-center me-4">
                            <h3> </h3> <span class="heart"><a href="/wishlist"><i class='bx bx-heart'></i></a></span>
                        </div>
                    </div>

                    <br><br>
                    <div>
                        <button type="button"
                            class="dropdown nav navbar-nav d-flex justify-content-between mx-lg-auto btn-outline-dark">

                            <a class="nav-link " href="/logout">LogOut</a>

                        </button>

                    </div>

                    <div class="ms-4">
                        <h5>
                            <%= userData.username %>
                        </h5>
                    </div>


                    <!-- <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LogOut</a>
                        </li>
                    </ul> -->


                    <% }else {%>
                        <a class="nav-icon position-relative text-decoration-none" href="/login">
                            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                            <span
                                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">!</span>

                            <a class="nav-icon position-relative text-decoration-none" href="/login">
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                                <span
                                    class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+</span>
                            </a>
                            <br><br>

                            <div>
                                <button type="button" class="nav navbar-nav d-flex justify-content-between mx-lg-auto">

                                    <a class="nav-link" href="/login">Login</a>

                                </button>
                            </div>

                            <% } %>

                                <!-- <button class="navbar-toggler border-1" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">LogOut</span>
                    </button> -->


            </div>
        </div>


        </div>
    </nav>
    <!-- Close Header -->




    <section class="bg-white">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1 ">products</h1>
                    <p>
                        you can choose from here
                    </p>
                </div>
            </div>

            <div class="row bg-white justify-content-center">
                <% if(typeof message!=="undefined" ){%>
                    <h1 style="font-size:25px;color:rgb(207, 38, 16);">
                        <%=message %>
                    </h1>
                    <%}%>
                        <% if(typeof message2!=="undefined" ){%>
                            <h1 style="font-size:25px;color:rgb(39, 147, 10);">
                                <%=message2 %>
                            </h1>
                            <%}%>
                                <% product.forEach((x,index)=> { %>
                                    <% if(x && x.unlist==false && x.category && x.category.unlist==false) {%>
                                        <div class="col-12 col-md-6 mb-4">
                                            <div class="card h-120 bg-dark">
                                                <a href="/singleproduct/<%= x._id %>">
                                                    <img style="height:500px " src="/images/<%= x.image[0] %>"
                                                        class="card-img-top" alt="...">
                                                </a>
                                                <div class="card-body">
                                                    <!-- <ul class="list-unstyled d-flex justify-content-between"> -->
                                                    <!-- <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li> -->


                                                    <!-- </ul> -->
                                                    <div>

                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h3> </h3> <span class="heart"><a
                                                                    href="/addtowish/<%= x._id %>"><i
                                                                        class='bx bx-heart '></i></a></span>
                                                        </div>

                                                        <a href="" class="h2 text-decoration-none text-white">
                                                            <%= x.productname %>
                                                        </a>

                                                    </div>
                                                    <br>

                                                    <ul class="list-unstyled d-flex justify-content-between">
                                                        <li class=" text-right " style="color: aliceblue;">Price:<%=
                                                                x.price %>
                                                        </li>
                                                    </ul>
                                                    <br>

                                                    <div>
                                                        <a href="" class="h4 text-decoration-none text-success">
                                                            <%= x.category.category %>
                                                        </a>
                                                    </div>
                                                    <p class="card-text text-white">
                                                        <%= x.description %>
                                                    </p>
                                                    <!-- <p class="text-muted">Reviews (24)</p> -->

                                                    <div>

                                                        <!-- <button type="button" class="btn btn-success me-2"><a
                                                                class="text-decoration-none text-white" href="">Buy
                                                                Now</a></button> -->



                                                        <button class=" btn btn-primary"><a
                                                                class="text-decoration-none text-white"
                                                                href="/singleproduct/<%= x._id %>">View
                                                                Product</a></button>

                                                        <!-- <button class=" btn btn-primary"><a class="text-decoration-none text-white"
                                                href="/addtocart/____">View Cart</a></button> -->


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>

            </div>

        </div>

        <div class="d-flex align-items-center justify-content-center">
            <% if(typeof page !== 'undefined'){ %>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <% if (page > 1) { %>
                    <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <% } %>
                  </li> 
          
                  <% for (let i = 1; i <= countdata; i++) { %>
                     <% if (i === page) { %>
                       <li class="page-link text-danger"><%= i %></li>
                     <% } else { %>
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        <% } %>
                  <% } %>
          
                  <li class="page-item">
                    <% if (page < countdata) { %>
                    <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                    <% } %>
                  </li>
                </ul>
              </nav>
          <% } %>
          </div>


    </section>


    <%- include('../layout/user/userfooter.ejs')%>