<%- include('../layout/user/userheader.ejs')%>
  <%- include('../layout/user/usernavbar.ejs')%>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>

    <section class="h-100" style="background-color: #eee;">
      <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-10">

            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            </div>
            <% userData.cart.forEach((cart)=>{%>

              <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <% if (cart.product.image) { %>
                        <img src="/images/<%= cart.product.image[0] %>" class="img-fluid rounded-3"
                          alt="Cotton T-shirt">
                        <% } %>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="lead fw-normal mb-2">
                        <%= cart.product.productname %>
                      </p>
                      <p class="lead fw-normal mb-2">
                        <%= cart.product.description %>
                      </p>
                      <h5 class="mb-0">Price: <%= cart.product.price%> INR</h5>
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                      <button class="btn btn-link px-2"
                        onclick="changeQuantity('<%= cart.product._id %>',-1, '<%= cart.product.price%> ')">
                        <i class="fas fa-minus"></i>

                      </button>
                      <div style="height: 30px; width: 45px; text-align: center; background-color: lightslategrey;">
                        <span id="<%= cart.product._id %>">
                          <%= cart.quantity%>
                        </span>
                      </div>

                      <button class="btn btn-link px-2"
                        onclick="changeQuantity('<%= cart.product._id %>',1, '<%= cart.product.price%>' )">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 d-flex">
                      <h5>total:</h5>
                      <h5 class="<%= cart.product._id %>">
                        <%=cart.productTotalPrice%>
                      </h5>
                      <h5>INR</h5>
                    </div>


                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="/deletecart/<%= cart.product._id %>" class="text-danger"><i
                          class="fas fa-trash fa-lg"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <% }) %>



                <div class="card mb-4">
                  <div class="card-body p-4 d-flex flex-row">
                    <div class="form-outline flex-fill">


                      <h5>Total cost:</h5>
                      <label id="total" class="form-label" for="form1">
                        <%= userData.carttotalprice %>
                      </label>
                      <h5>INR</h5>
                    </div>

                  </div>
                </div>
                <% if(userData.carttotalprice !=0) { %>
                  <div class="card">
                    <div class="card-body">
                      <a href="/checkout" class="text-decoration-none"> <button type="button"
                          class="btn btn-warning btn-block btn-lg ">Go to checkout</button></a>
                    </div>
                  </div>
                  <% }else{ %>
                    <div class="card">
                      <div class="card-body">
                        <a href="/allproducts" class="text-decoration-none"> <button type="button"
                            class="btn btn-warning btn-block btn-lg ">Go to shop</button></a>
                      </div>
                    </div>
                    <% } %>

          </div>
        </div>
      </div>
      <% if(typeof message!=="undefined" ){%>
        <h1 style="font-size:16px;color:rgb(207, 38, 16);">
          <%=message %>
        </h1>
        <%}%>


          <script>

            function changeQuantity(prodId, count, price) {
              let quantity = parseInt(document.getElementById(prodId).innerHTML)
              count = parseInt(count)
              if (quantity <= 1 && count == -1) {

              } else {
                $.ajax({
                  url: '/change-quantity',
                  data: {

                    prodId: prodId,
                    count: count,
                    price: price,
                    qnty: quantity
                  },
                  method: "post",
                  success: (response) => {
                    if (response.success) {
                      console.log(response);
                      document.getElementById(prodId).innerHTML = quantity + count
                      document.getElementsByClassName(prodId)[0].innerHTML = response.prodsingleprice
                      document.getElementById('total').innerHTML = response.sum
                    } else if (response.stock) {
                      Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'stock enter to limit',
                      })
                    }

                  }
                })
              }
            }
          </script>

    </section>



    <%- include('../layout/user/userfooter.ejs')%>