<%- include('../layout/user/userheader.ejs')%>
    <%- include('../layout/user/usernavbar.ejs')%>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>


        <section style="background-color: #ffffff;" id="address">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class=" ">
                            <ol class="breadcrumb mb-0">

                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <div style="background: #000; height:20%;">
        </div>

        <div class=" container-fluid my-5 " style="background-color: black;">
            <div class="row justify-content-center ">
                <div class="col-xl-10">
                    <form action="" method="" id="mainForm">
                        <div class="card shadow-lg " style="background-color: black;">
                            <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                                <div class="col">
                                    <p class="text-muted space mb-0 shop"> </p>
                                    <p class="text-muted space mb-0 shop"></p>
                                </div>
                                <div class="col">
                                    <div class="row justify-content-start ">
                                        <!-- <div class="col">
                                <img class="irc_mi img-fluid cursor-pointer " src="https://i.imgur.com/jFQo2lD.png"  width="70" height="70" >
                            </div> -->
                                    </div>
                                </div>
                                <!-- <div class="col-auto">
                        <img class="irc_mi img-fluid bell" src="https://i.imgur.com/uSHMClk.jpg" width="30" height="30"  >
                    </div> -->
                            </div>
                            <div class="row  mx-auto justify-content-center text-center">
                                <div class="col-12 mt-3 ">
                                    <nav aria-label="breadcrumb" class="second ">
                                        <!-- <ol class="breadcrumb indigo lighten-6 first  ">
                                <li class="breadcrumb-item font-weight-bold "><a class="black-text text-uppercase " href="#"><span class="mr-md-3 mr-1">BACK TO SHOP</span></a><i class="fa fa-angle-double-right " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#"><span class="mr-md-3 mr-1">SHOPPING BAG</span></a><i class="fa fa-angle-double-right text-uppercase " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase active-2" href="#"><span class="mr-md-3 mr-1">CHECKOUT</span></a></li>
                            </ol> -->
                                    </nav>
                                </div>
                            </div>

                            <div class="row justify-content-around">
                                <div class="col-md-5">
                                    <div class="card border-0">
                                        <div class="card-header pb-0">
                                            <h2 class="card-title space ">Checkout</h2>

                                        </div>
                                        <div class="card-body">
                                            <div class="row justify-content-between">
                                                <div class="col-auto mt-0">
                                                    <p><b>gaDget</b></p>
                                                </div>
                                                <div class="col-auto">
                                                    <p><b>gadget@gmail.com</b> </p>
                                                </div>
                                            </div>

                                            <div class="row mt-4">
                                                <div class="col">
                                                    <p class="text-muted mb-2">PAYMENT DETAILS</p>
                                                    <hr class="mt-0">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="NAME" class="small text-muted mb-1">full Name</label>
                                                <input type="text" class="form-control form-control-sm" id="NAME"
                                                    aria-describedby="helpId" value="<%= userData.username %> ">
                                            </div>
                                            <input type="hidden" name="userId" value="<%= userData._id %>">
                                            <!-- <div class="form-group">
                                <label for="NAME" class="small text-muted mb-1">Phone Number</label>
                                <input type="text" class="form-control form-control-sm" name="NAME" id="NAME" aria-describedby="helpId" placeholder="BBBootstrap Team">
                            </div> -->

                                            <div id="myDiv">
                                                <label>Address</label>
                                                <select
                                                    style="height: 50px; border-radius: 5px; border-color: rgb(202, 201, 201); color: rgb(140, 135, 135);"
                                                    name="address">
                                                    <option selected> select address </option>
                                                    <% userData.address.forEach((element)=>{ %>
                                                        <option
                                                            value="<%=element.name %><%=element.houseName %>,<%= element.phone %>,<%=element.street %>,<%=element.district %> <%=element.state %>,<%=element.pincode %> <%=element.country %>">
                                                            <%=element.name %>,<%=element.houseName %>,<%= element.phone
                                                                        %>,<%=element.street %>,<%=element.district %> ,
                                                                                <%=element.state %>,<%=element.pincode
                                                                                        %>
                                                                                        <%=element.country %>


                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <button class="mt-2 " type="button"
                                                    style="color: rgb(195, 199, 199); border-radius: 5px;  background-color:black;"
                                                    data-toggle="modal" data-target="#ModalCenter"
                                                    style="color: rgb(246, 245, 245); text-decoration:none;">
                                                    Add Address</button>
                                            </div>

                                            <div class="row no-gutters">
                                                <!-- <div class="col-sm-4 pr-sm-2">
                                                <div class="form-group">
                                                    <label for="NAME" class="small text-muted mb-1">Phone
                                                        Number</label>
                                                    <input type="text" class="form-control form-control-sm" name="phone"
                                                        id="NAME" aria-describedby="helpId"
                                                        value="<%= userData.address.phone %>">
                                                </div>
                                            </div> -->
                                                <!-- <form id="formCoupon">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="NAME" class="small text-muted mb-1">Coupon
                                                            Code</label>
                                                        <input type="text" form="formCoupon"
                                                            class="form-control form-control-sm" name="code"
                                                            id="NAMEcode" name="code" aria-describedby="helpId">

                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group text-end pt-5" >
                                                        <button style="background-color: rgb(72, 23, 220); color: white; border-radius: 5px;"
                                                            onclick="applyCoupon('<%= userData.cartTotalPrice %>', $('#NAMEcode').val())"
                                                            form="formCoupon">Redeem Now</button>

                                                    </div>

                                                </div>
                                            </form> -->
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card border-0 ">
                                        <!-- <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4  mb-2 space">YOUR ORDER <span class=" small text-muted ml-2 cursor-pointer"></span> </p>
                                <hr class="my-2">
                            </div> -->

                                        <div class="card-body pt-3">
                                            <% userData.cart.forEach((element)=>{ %>
                                                <div class="row  justify-content-between">
                                                    <div class="col-auto col-md-7">
                                                        <div class="media flex-column flex-sm-row">
                                                            <img style="width:50px" class=" img-fluid"
                                                                src="/images/<%=element.product.image[0] %>" width="62"
                                                                height="62">
                                                            <input type="hidden" name="proId"
                                                                value="<%= element.product._id %>">
                                                            <input type="hidden" name="singlePrice"
                                                                value="<%= element.product.price %>">
                                                            <div class="media-body  my-auto">
                                                                <div class="row ">
                                                                    <div class="col-auto">
                                                                        <p class="mb-0"><b>
                                                                                <%=element.product.productname %>
                                                                            </b></p><small class="text-muted">

                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" pl-0 flex-sm-col col-auto  my-auto">
                                                        <p class="boxed-1">
                                                            <%=element.quantity %>
                                                        </p>
                                                        <input type="hidden" name="proQ"
                                                            value="  <%=element.quantity %>">
                                                    </div>
                                                    <div class=" pl-0 flex-sm-col col-auto  my-auto ">
                                                        <p><b>RS.<%=element.productTotalPrice %></b></p>
                                                        <input type="hidden" name="qntyPrice"
                                                            value="<%=element.productTotalPrice %>">
                                                    </div>
                                                </div>
                                                <hr class="my-2">
                                                <% }) %>

                                                    <div class="row ">
                                                        <div class="col">
                                                            <div class="row justify-content-between">
                                                                <div class="col-4">
                                                                    <p class="mb-1"><b>Subtotal</b></p>
                                                                </div>
                                                                <div class="flex-sm-col col-auto">
                                                                    <p class="mb-1"><b>
                                                                            <%= userData.carttotalprice %>
                                                                                <input type="hidden" name="total"
                                                                                    value="<%= userData.carttotalprice %>">
                                                                        </b></p>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-between">
                                                                <div class="col">
                                                                    <p class="mb-1"><b>Discount</b></p>
                                                                </div>
                                                                <div class="flex-sm-col col-auto">
                                                                    <p id="discount" class="mb-1"><b>0</b></p>
                                                                </div>
                                                                <input id="discount1" name="discount1" type="hidden"
                                                                    value="">
                                                            </div>
                                                            <div class="row justify-content-between">
                                                                <div class="col-4">
                                                                    <p><b>Total</b></p>
                                                                </div>
                                                                <div class="flex-sm-col col-auto">
                                                                    <p id="total" class="mb-1"><b>RS : <%=
                                                                                userData.carttotalprice %>

                                                                        </b></p>
                                                                    <input id="total1" name="total1" type="hidden"
                                                                        value="<%= userData.carttotalprice %>">
                                                                </div>
                                                            </div>
                                                            <hr class="my-0">
                                                        </div>
                                                    </div>
                                                    <!-- <div class="row mb-5 mt-4 ">
                                    <div classrs
                                    ="col-md-7 col-lg-6 mx-auto"><button type="button" class="btn btn-block btn-outline-primary btn-lg">ADD GIFT CODE</button></div>
                                </div> -->

                                                    <form id="formCoupon">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="NAME" class="small text-muted mb-1">Coupon
                                                                    Code</label>
                                                                <input type="text" form="formCoupon"
                                                                    class="form-control form-control-sm" name="code"
                                                                    id="NAMEcode" name="code" aria-describedby="helpId">

                                                            </div>
                                                            <button
                                                                style="background-color: aquamarine; color: black; border-radius: 5px;"
                                                                onclick="applyCoupon('<%= userData.carttotalprice %>', $('#NAMEcode').val())"
                                                                form="formCoupon">Redeem Now</button>

                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">

                                                            </div>

                                                        </div>
                                                    </form>

                                                    <input type="hidden" name="code" id="code" value=''>
                                                    <br>
                                                    <label for="NAME" class="small fw-bold ">Payment
                                                        Method</label><br><br>
                                                    <div class="form-group"
                                                        style="color:green; font-family: 'Courier New', Courier, monospace;">
                                                        <input type="radio" name="test" value="COD"
                                                            style="color: blue;"> Cash on
                                                        delivery<br><br>
                                                    </div>
                                                    <div class="form-group"
                                                        style="color:green; font-family: 'Courier New', Courier, monospace;">
                                                        <input type="radio" name="test" value="UPI"> Online Payment<br><br>
                                                    </div>
                                                    <div class="form-group"
                                                    style="color:green; font-family: 'Courier New', Courier, monospace;">
                                                    <input type="radio" name="test" value="WALLET"> Use Wallet<br><br>
                                                </div>
                                                    <% if(typeof message !=='undefined' ){ %>
                                                        <h5 style="color: rgb(224, 86, 86);">
                                                            <%= message %>
                                                        </h5>
                                                        <% } %>
                                                            <div class="row mb-md-5">
                                                                <div class="col">
                                                                    <button type="submit" name="" id=""
                                                                        class="btn  btn-lg btn-block  btn-success">PURCHASE
                                                                        NOW</button>

                                                                </div>
                                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <!-- //modal -->
        <section id="reloadSection">
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">Add Address</h5>
                            <div id="alertpasswordUser1" class="alert alert-danger" role="alert" style="display: none;">

                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="myForm">
                                <div class="row">
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">Name</label>
                                            <input type="text" name="name" class="form-control form-control-lg" />

                                        </div>

                                    </div>

                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">House Name</label>
                                            <input type="text" name="hname" class="form-control form-control-lg" />

                                        </div>

                                    </div>

                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">Street</label>
                                            <input type="text" name="street" class="form-control form-control-lg" />

                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">District</label>
                                            <input type="text" name="district" class="form-control form-control-lg" />

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 d-flex align-items-center">

                                        <div class="form-outline datepicker w-100">
                                            <label class="form-label">State</label>
                                            <input type="text" name="state" class="form-control form-control-lg"
                                                id="birthdayDate" />

                                        </div>

                                    </div>

                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <label class="form-label">Country</label>
                                            <input type="text" name="country" class="form-control form-control-lg" />

                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <label class="form-label">pincode</label>
                                            <input type="Number" id="emailAddress" name="pincode"
                                                class="form-control form-control-lg" />

                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <label class="form-label">Phone Number</label>
                                            <input type="Number" name="number" class="form-control form-control-lg" />

                                        </div>

                                    </div>
                                </div>



                                <div class="mt-4 pt-2">
                                    <button style="background-color: #000; color: aliceblue;"
                                        type="submit">Submit</button>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>











        <script>



            const form = document.querySelector('#myForm')
            $('#myForm').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                const inputs = document.querySelectorAll('#myForm input')
                let inputField = false
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].value.trim() == "") {
                        inputField = true
                        $('#alertpasswordUser1').attr({ style: "display: block" }).html("All fields Required")
                        setTimeout(() => {
                            $('#alertpasswordUser1').hide()
                        }, 3000)
                    }
                } if (!inputField) {
                    $.ajax({
                        url: '/checkoutAddAddress', // replace with the URL of your server-side script
                        type: 'Post', // use POST method
                        data: formData,
                        success: (Response) => {
                            console.log(Response);
                            if (Response) {

                                // $('#reloadSection').load('/checkout #reloadSection')
                                location.reload()

                                //     $('#ModalCenter').on('hidden.bs.modal', function () {
                                //     // $(this).find('myform').trigger('reset');

                                //    });

                                $('#ModalCenter').on('hidden.bs.modal', function () {

                                });

                                $('#ModalCenter').modal('close');
                                $('#myDiv').load('/checkout #myDiv')


                            }
                            // handle the response from the server
                            // console.log(response);





                        }
                    });
                }
            })



            //apply coupon
            function applyCoupon(total, code) {
                $.ajax({
                    url: '/applyCoupon',
                    data: {
                        total: total,
                        code: code
                    },
                    method: "post",
                    success: (response) => {
                        if (response.finalnot) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Buy more to access this offer.',
                            })


                        } else if (response.used) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Offer already accessed.',
                            })

                        }
                        else if (response.dateexpr) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Coupon expired.',
                            })

                        } else if (response.final) {
                            document.getElementById('code').value = response.Code
                            document.getElementById('discount').innerHTML = response.discount
                            document.getElementById('discount1').value = response.discount
                            document.getElementById('total').innerHTML = response.priceTotal
                            document.getElementById('total1').value = response.priceTotal
                            Swal.fire(
                                'Good job!',
                                'Coupen granted!',
                                'success'
                            )
                        } else if (response.invalid) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Invalid coupon.',
                            })
                        }
                    }
                })
            }





            //main form submit for success
            $('#mainForm').submit(function (e) {
                // console.log("vanno")
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '/checkout', // replace with the URL of your server-side script
                    type: 'POST', // use POST method
                    data: formData,
                    success: (response) => {
                        // handle the response from the server
                        // console.log("yes")
                        // console.log(response);
                        if (response.status) {
                            location.href = '/success'
                        } else if (response.radio) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Select Payment Method.',
                            })
                        }
                        else if (response.address) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Select Address Or Add Address.',
                            })
                           
                        }else if(response.razorPayment){
                            // console.log("vannno");
                            // console.log(response.order);
                            razorpayment(response.order)
                        }else if(response.insufficient){
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Insufficient Balence In Your Wallet',
                            })
                        }else if(response.stock){
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Some of these products have limited quantities,so please check it!',
                            })
                        }

                    },

                });
            });



            //online payment
            function razorpayment(order) {
                var options = {
                    "key" : "rzp_test_0UJlloUKDWkFXL", // Enter the Key ID generated from the Dashboard
                    "amount" : order.amount,         // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency" : "INR",
                    "name" : "gaDget" ,//your business name
                    "description": "Test Transaction",
                    "image": "",
                    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                                    verifyPayment(response, order)
                                },
                    "prefill":{
                        "name" : "Muhammed Nivas P", 
                        "email" : "muhammednivasprl@gmail.com",
                        "contact" : 7558936295
                    },
                    "notes" : {
                        "address" : "GaDget Private Limited"
                    },
                    "theme" : { "color" : "#3399cc"},
                    "modal" : {
                        escape : false,
                        onDismiss : ()=>{
                            Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'Payment failed.',
                                        })

                        }
                    }

            }
            var rzp1 = new Razorpay(options)
            rzp1.open();
        }
     
        
        function verifyPayment(payment, order) {
            console.log(payment);
            console.log(order+"SDSD");
                            $.ajax({
                                url: '/paymentverify',
                                data: {
                                    payment,
                                    order
                                },
                                method: "post",
                success : (response)=>{
                      if(response.status){
                        console.log("onlinre success !!");
                        location.href ='/success'
                      }
                        

                }
            })
        }

        </script>

        <%- include('../layout/user/userfooter.ejs')%>